<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DoDate</title>
    <link rel="stylesheet" href="/src/css/main.css" />
    <script  type="module" src="../js/add-data.js"></script>

</head>
<body>
    <header class="divider" id="main-header"></header>

    <form id="add-class">
        <div class="container">
            <h1>Create Class</h1>

            <label for="className"><b>Class Name</b></label>
            <input type="text" placeholder="Enter Class Name" name="className" id="className" required>
    
            <button type="button" id="createClass" name="createClass" class="createclass-btn">Create Class</button>
        </div>
    </form>
</body>
</html>