<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DoDate</title>
    <link rel="stylesheet" href="../css/main.css" />
  </head>
  <body>
    <header class="divider" id="main-header"></header>

    <form id="add-assignment">
      <div class="container">
        <h1>Add Assignment</h1>

        <label for="classes">Choose a class to add assignment to:</label>

        <!-- Class Drop Down -->
        <select name="classes" id="classesDropDown"></select>

        <!-- Add Assignment -->
        <label for="addAssignment"><b>Enter Assignment Name</b></label>
        <input type="text" placeholder="Assignment Name" name="addAssignment" id="addAssignment" required />

        <label for="addAssignment"><b>Assignment Due Date</b></label>
        <select name="dayDropDown" id="dayDropDown">
          <option value="Monday">Monday</option>
          <option value="Tuesday">Tuesday</option>
          <option value="Wednesday">Wednesday</option>
          <option value="Thursday">Thursday</option>
          <option value="Friday">Friday</option>
          <option value="Saturday">Saturday</option>
          <option value="Sunday">Sunday</option>
        </select>

        <button type="button" id="addAssignmentButton" name="addAssignmentButton" class="addAssignment-btn">Add Assignment</button>
      </div>
    </form>

    <!-- Class legend -->
    <div id="class-legend">
      <h3>Class Legend</h3>
      <ul id="classList"></ul>
    </div>

    <!-- Week layout -->
    <div class="week-layout">
      <div class="weekday" id="mondayDiv">
        <h2 class="dayOfWeekTitle">Monday</h2>
        <ul id="Monday"></ul>
      </div>
      <div class="weekday" id="tuesdayDiv">
        <h2 class="dayOfWeekTitle">Tuesday</h2>
        <ul id="Tuesday"></ul>
      </div>
      <div class="weekday" id="wednesdayDiv">
        <h2 class="dayOfWeekTitle">Wednesday</h2>
        <ul id="Wednesday"></ul>
      </div>
      <div class="weekday" id="thursdayDiv">
        <h2 class="dayOfWeekTitle">Thursday</h2>
        <ul id="Thursday"></ul>
      </div>
      <div class="weekday" id="fridayDiv">
        <h2 class="dayOfWeekTitle">Friday</h2>
        <ul id="Friday"></ul>
      </div>
      <div class="weekday" id="saturdayDiv">
        <h2 class="dayOfWeekTitle">Saturday</h2>
        <ul id="Saturday"></ul>
      </div>
      <div class="weekday" id="sundayDiv">
        <h2 class="dayOfWeekTitle">Sunday</h2>
        <ul id="Sunday"></ul>
      </div>
    </div>
  </body>
  <script type="module" src="../js/assignment-tracker.js"></script>
</html>
