<header id="main-header">
  <nav>
    <ul class="menu">
      <li class="logo">
        <a href="../index.html">
          <img src="/src/images/dodatelogo.jpeg" alt="DoDate logo" id="logo" />
        </a>
      </li>
      <li class="item link">
        <a href="../partials/login.html" id="login-btn" class="header-btn doNotDisplayOnLoggedIn">Log in</a>
      </li>
      <li class="item link">
        <a href="../partials/register.html" id="register-btn" class="header-btn doNotDisplayOnLoggedIn">Register</a>
      </li>
      <li class="item link">
        <a href="#" id="logout-btn" display="none" class="header-btn doNotDisplayOnLoggedOut">Log Out</a>
      </li>

      <li class="item link">
        <a href="#" id="displayName" display="block" class="header-btn doNotDisplayOnLoggedOut"></a>
      </li>

      <li class="item link">
        <a href="../partials/class-editor.html" id="classEditor" display="block" class="header-btn doNotDisplayOnLoggedOut">Class Editor</a>
      </li>

      <li class="item link">
        <a href="../partials/assignment-tracker.html" id="assignmentTracker" display="block" class="header-btn doNotDisplayOnLoggedOut">Assignment Tracker</a>
      </li>
    </ul>
  </nav>
</header>
