
<header id="main-header">
    <nav>
        <ul class="menu">
            <li class="logo">
                <a href="/src/index.html">
                    <img src="/src/images/dodatelogo.jpeg" alt="DoDate logo" id="logo">
                </a>
            </li>
            <li class="item link">
                <a href="/src/partials/login.html" id="login-btn" class="header-btn">Log in</a>
            </li>
            <li class="item link">
                <a href="/src/partials/register.html" id="register-btn" class="header-btn">Register</a>
            </li>
            <li class="item link">
                <a href="#" id="logout-btn" display="none" class="header-btn">Log Out</a>
            </li>

            <li class="item link">
                <a href="#" id="displayName" display="block" class="header-btn"></a>
            </li>

            <li class="item link">
                <a href="/src/partials/assignment-tracker.html" id="displayName" display="block" class="header-btn">Assignment Tracker</a>
            </li>

        </ul>
    </nav>
</header>

