<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DoDate</title>
    <link rel="stylesheet" href="/src/css/main.css" />
    <script  type="module" src="../js/login.js"></script>

</head>
<body>
    <header class="divider" id="main-header"></header>

    <form id="login-partial">
        <div class="container">
            <h1>Login</h1>

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" id="email" required>
    
            <label><b>Password</b></label>
            <input type="password" placeholder="Password" name="psw" id="psw" required>
    
            <button type="button" id="submitData" name="submitData" class="loginbtn">Login</button>
        </div>
    </form>
</body>
</html>