:root {
  --lightskyblue: #93d2f7;
  --lightbluelogo: #37b5ff;
  --darkbluelogo: #0f3d8b;
  --lightgraycolor: #f5f5f5;
  --classRed: #ff0000;
  --classOrange: #ff8c00;
  --classYellow: #e6d928;
  --classGreen: #008000;
  --classBlue: #004dff;
  --classPurple: #750787;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica;
}

/* All Forms */

input[type="checkbox"] {
  float: right;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

input[type="text"] {
  width: 100%;
  padding: 11px 8px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.3s;
  transition: 0.2s;
  outline: none;
  font-size: 14px;
  border-radius: 0.375rem;
}

input[type="text"]:focus {
  border: 3px solid #555;
}

select {
  width: 100%;
  padding: 9px 0px 9px 10px;
  border: 3px solid #ccc;
  border-radius: 0.375rem;
  background-color: white;
  font-size: 16px;
}

button {
  margin: 0 auto;
  display: block;
  backface-visibility: hidden;
  background: var(--darkbluelogo);
  border: 0;
  border-radius: 0.375rem;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: -0.01em;
  line-height: 1.3;
  padding: 0.9rem 1rem;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform 0.2s;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:disabled {
  color: #787878;
  cursor: auto;
}

button:not(:disabled):hover {
  transform: scale(1.05);
}

button:not(:disabled):hover:active {
  transform: scale(1.05) translateY(0.125rem);
}

button:focus {
  outline: 0 solid transparent;
}

button:focus:before {
  border-width: 0.125rem;
  content: "";
  left: calc(-1 * 0.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1 * 0.375rem);
  transition: border-radius;
  user-select: none;
}

button:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

button:not(:disabled):active {
  transform: translateY(0.125rem);
}

/* Radio */
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* Header */

header {
  display: flex;
  align-items: center;
  padding: 20px 50px;
  width: 100%;
  padding: 0;
}
nav {
  width: 100%;
  background-color: var(--lightskyblue);
}
#logo {
  margin-right: auto;
  max-width: 150px;
}

header li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

header a {
  text-decoration: none;
  color: var(--darkbluelogo);
  transition: all 0.3s ease 0s;
}

header a:hover {
  color: var(--lightbluelogo);
}

.link {
  padding: 100px 30px 0px 0px;
  float: right;
  font-size: 25px;
}

/*
Class color legend
*/

.class-color-Red {
  color: var(--classRed);
}

.class-color-Orange {
  color: var(--classOrange);
}

.class-color-Yellow {
  color: var(--classYellow);
}

.class-color-Green {
  color: var(--classGreen);
}
.class-color-Blue {
  color: var(--classBlue);
}
.class-color-Purple {
  color: var(--classPurple);
}

/*
Assignment Tracker
*/

.body {
  margin-top: 30px;
}
/* Add assignment div */
.add-assignment-div {
  border: 1px solid black;
  height: 17rem;
  float: right;
  padding: 10px 40px;
  max-width: 350px;
  margin-right: 30px;
  background-color: var(--lightgraycolor);
  border-radius: 0.375rem;
  border: 3px solid #ccc;
}

.add-assignment-label {
  text-align: center;
  margin-bottom: 20px;
}

.float-left {
  float: left;
  margin-right: 15px;
}

.float-right {
  float: right;
  margin-left: 15px;
}

.float-left-right {
  max-width: 100%;
  display: flex;
  max-height: 100%;
  margin-bottom: 20px;
}

.add-assignment-name {
  margin-top: 10px;
}

/* Class Legend */
.class-legend {
  border: 1px solid black;
  float: right;
  padding: 10px 30px;
  margin-right: 30px;
  height: 17rem;
  background-color: var(--lightgraycolor);
  border-radius: 0.375rem;
  border: 3px solid #ccc;
}

ul {
  list-style-type: none;
}

.class-legend h3 {
  font-size: 25px;
}

.class-legend li {
  margin-top: 10px;
  font-size: 23px;
}

/* Weekday Layout */

.week-layout {
  display: flex;
  padding-top: 50px;
  width: 100%;
  max-height: 100%;
}

.week-layout h2 {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}

.week-layout ul {
  margin: 10px 0px 0px 10px;
}

.week-layout li {
  margin: 20px 10px;
  padding: 10px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 0.375rem;
  background-color: white;
  overflow: hidden;
}

.weekday {
  border: 3px solid #ccc;
  margin: 5px;
  flex: 1 1 0px;
  border-radius: 0.375rem;
  background-color: var(--lightgraycolor);
}

#sunday-label {
  padding-top: 30%;
}

.due-date {
  padding-top: 20px;
}

.displayType {
  margin-left: 30px;
  float: left;
}
