:root {
  --lightskyblue: #93d2f7;
  --lightbluelogo: #37b5ff;
  --darkbluelogo: #0f3d8b;
  --classRed: #ff0000;
  --classOrange: #ff8c00;
  --classYellow: #ffed00;
  --classGreen: #008000;
  --classBlue: #004dff;
  --classPurple: #750787;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica;
}
/* Header */

header {
  display: flex;
  align-items: center;
  padding: 20px 50px;
  width: 100%;
  padding: 0;
}
nav {
  width: 100%;
  background-color: var(--lightskyblue);
}
#logo {
  margin-right: auto;
  max-width: 150px;
}

header li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

header a {
  text-decoration: none;
  color: var(--darkbluelogo);
  transition: all 0.3s ease 0s;
}

header a:hover {
  color: var(--lightbluelogo);
}

.link {
  padding: 100px 30px 0px 0px;
  float: right;
  font-size: 25px;
}

/*
Class color legend
*/

.class-color-Red {
  color: var(--classRed);
}

.class-color-Orange {
  color: var(--classOrange);
}

.class-color-Yellow {
  color: var(--classYellow);
}

.class-color-Green {
  color: var(--classGreen);
}
.class-color-Blue {
  color: var(--classBlue);
}
.class-color-Purple {
  color: var(--classPurple);
}
